h1,h2 {
    font-size: 2.5vw;
    color: black;
    background-color: white;
    display: table;
    padding:5px;
}

p{
    font-size: 1.5vw;
    color: black;
    font-weight: lighter;
    background-color: white; 
    display: table;
    padding:5px;
}
a{
    font-size: 1.5vw;
    font-weight: bold;
}

img{
    max-width: 100%;
    float: center;
    width:  400px;
    height: 400px;
    object-fit: cover;
}

table,th,td{
    border-style: solid;
    
}
